@use "src/Styles/mixins" as m;

.productsPage {
  margin: var(--page-margin);
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 40px;
  align-items: flex-start;
}

.productsColumn {
  flex: 1;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  min-height: 500px;
}

.noProducts {
  grid-column: 1 / -1;
  text-align: center;
  padding: 100px 0;
  font-size: 1.2rem;
  color: #888;
}

.SkeletonCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {

  .productsGrid,
  .SkeletonCards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  .productsPage {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 650px) {

  .productsGrid,
  .SkeletonCards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1300px) {
  .SkeletonCards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include m.medium {
  .SkeletonCards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .SkeletonCards {
    grid-template-columns: 1fr;
  }
}